.first-sec5{
    background: url(../img/bg.png);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
   } 

   .second-sec5 {
    /* border: 2px solid black; */
    /* padding: 0px 550px; */
    width: 350px;
   padding-top: 200px;
   padding-left: 400px;
   } 
   .second-sec5 h1{
    font-size: 40px;
    color: white;
   }
   .second-sec5 p{
    color: white;
   }
   .second-sec5 button{
    padding: 15px 40px;
    background-color: #fedc5a;
    border:2px solid #f0c931;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
   }